@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';

body {
  background-image: url('http://i.imgur.com/0KFHD.jpg');
}

ul {
  list-style: none;
  display: inline-block;
}

section{
  display: inline-block;
}

.title {
  text-align: center;
  color: red;
}

.index-link {
  text-align: center;
  color: red;
  font-size: 4em;
  font-weight: bold;
}
